<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add new plater</title>
</head><p><a href="start">Strona główna</a></p>
</head>
<body>
<h3 align="left">dodaj zawodnika do bazy danych</h3>

<form method="post" action="/addNewPlayer">
    <label>name:</label> <input type="text" required name="name"><br>
    <label>surname:</label><input type="text" required name="surname"><br>
    <label>sex:</label><input type="text" required name="sex"><br>
    <input type="submit" value="Dodaj">
</form>
</body>
</html>