<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>playerForm</title>
</head><p><a href="start">Strona główna</a></p>
<body>
<table border="2">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Sex</th>
    <th>Edit</th>
    </thead>
    <tbody>

to jest strona playerForm

    </tbody>
</table >


<p><a href="viewAllPlayers">Pokaz wszystkich zawodnikow</a></p>
<p><a href="viewEvents">Pokaz zawody</a></p>


</body>
</html>