<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Statystyki zawodnikow</title>
</head>
<body>

<form method="get" action="/player/viewAllPlayers">


</form>

<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Sex</th>
    <th>Edit</th>
    </thead>
    <tbody>

    <tr th:each="p: ${players}">
        <td th:text="${p.getId()}">sample id</td>
        <td th:text="${p.getName()}">sample name</td>
        <td th:text="${p.getSurname()}">sample surname</td>
        <td th:text="${p.getSex()}">sample sex</td>
        <td th:text="Edit" th:href="@{/players(id=p.getId())}">sample Edit</td>
    </tr>
    </tbody>
</table>



</body>
</html>