<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Statystyki zawodnikow</title>
</head>
<body>

<form method="post" action="/viewPlayers">


</form>

<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Sex</th>
    <th>Edit</th>
    </thead>
    <tbody>

    <tr th:each="player: ${players}">
        <td th:text="${player.getId()}">sample id</td>
        <td th:text="${player.getName()}">sample name</td>
        <td th:text="${player.getSurname()}">sample surname</td>
        <td th:text="${player.getSex()}">sample sex</td>
        <td th:text="Edit">sample Edit</td>
    </tr>
    </tbody>
</table>



</body>
</html>