<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Statystyki zawodnikow</title>
    <p><a href="start">Strona główna</a></p>
</head>
<body>

<form method="get" action="viewAllPlayers">

    <h3 align="left">ZAWODNICY UKS CZAPLA</h3>


<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Sex</th>
    <th>Edit</th>
    </thead>
    <tbody>

   <tr th:each="p: ${players}">
           <td th:text="${p.getId()}">sample id</td>
            <td th:text="${p.getName()}">sample name</td>
           <td th:text="${p.getSurname()}">sample surname</td>
           <td th:text="${p.getSex()}">sample sex</td>
           <td><a th:href="@{/players(id=${p.getId()})}">Edit</a></td>
   </tr>
    </tbody>
</table>



</form>



</body>
</html>